<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
    <listener>
        <listener-class>database.InitConnexion</listener-class>
    </listener>
    
    <servlet>
        <servlet-name>ServletPompier</servlet-name>
        <servlet-class>servlet.ServletPompier</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPompier</servlet-name>
        <url-pattern>/ServletPompier/lister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPompier</servlet-name>
        <url-pattern>/ServletPompier/consulter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPompier</servlet-name>
        <url-pattern>/ServletPompier/ajouter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
