<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
    <listener>
        <listener-class>database.InitConnexion</listener-class>
    </listener>
    
    <!-- INSTANCIATION -->
    <servlet> <!-- POMPIER -->
        <servlet-name>ServletPompier</servlet-name>
        <servlet-class>servlet.ServletPompier</servlet-class>
    </servlet>
    <servlet> <!-- FONCTION -->
        <servlet-name>ServletFonction</servlet-name>
        <servlet-class>servlet.ServletFonction</servlet-class>
    </servlet>
    <servlet> <!-- VEHICULE -->
        <servlet-name>ServletVehicule</servlet-name>
        <servlet-class>servlet.ServletVehicule</servlet-class>
    </servlet>
    <servlet> <!-- GRADE -->
        <servlet-name>ServletGrade</servlet-name>
        <servlet-class>servlet.ServletGrade</servlet-class>
    </servlet>
    <servlet> <!-- CASERNE -->
        <servlet-name>ServletCaserne</servlet-name>
        <servlet-class>servlet.ServletCaserne</servlet-class>
    </servlet>
    
    <!-- POMPIER -->
    <servlet-mapping>
        <servlet-name>ServletPompier</servlet-name>
        <url-pattern>/ServletPompier/lister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPompier</servlet-name>
        <url-pattern>/ServletPompier/consulter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPompier</servlet-name>
        <url-pattern>/ServletPompier/ajouter</url-pattern>
    </servlet-mapping>
    
    <!-- FONCTION -->
    <servlet-mapping>
        <servlet-name>ServletFonction</servlet-name>
        <url-pattern>/ServletFonction/listerFonction</url-pattern>
    </servlet-mapping>
    
    <!-- VEHICULE -->
    <servlet-mapping>
        <servlet-name>ServletVehicule</servlet-name>
        <url-pattern>/ServletVehicule/listerVehicules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVehicule</servlet-name>
        <url-pattern>/ServletVehicule/listerTypeVehicule</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- GRADE -->
    <servlet-mapping>
        <servlet-name>ServletGrade</servlet-name>
        <url-pattern>/ServletGrade/listerGrades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGrade</servlet-name>
        <url-pattern>/ServletGrade/listerSurGrades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGrade</servlet-name>
        <url-pattern>/ServletGrade/consulterGrade</url-pattern>
    </servlet-mapping>
    
    <!-- CASERNE -->
    <servlet-mapping>
        <servlet-name>ServletCaserne</servlet-name>
        <url-pattern>/ServletCaserne/listerCasernes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCaserne</servlet-name>
        <url-pattern>/ServletCaserne/consulterCasernes</url-pattern>
    </servlet-mapping>
    
</web-app>
